@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-chinese-rocks: 'ChineseRocks', sans-serif;
}

@font-face {
  font-family: 'ChineseRocks';
  src: url('/fonts/chinese_rocks.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base */
body {
  background: #fff;
  color: #000;
}

/* Fontes */
.title{
  font-family: 'ChineseRocks', sans-serif;
}

.count{
  font-family: "Bebas Neue", sans-serif;
}

/* Custom Highlight*/
::selection {
  background-color: #444444;
  color: #f0eada;
}

