@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import "tailwindcss";

:root {
  --font-chinese-rocks: 'ChineseRocks', sans-serif;
}

@font-face {
  font-family: 'ChineseRocks';
  src: url('/fonts/chinese_rocks.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base */
body, body {
  background: #000;
  overflow-x: hidden;
}

/* Fontes */
.title{
  font-family: 'ChineseRocks', sans-serif!important;
}

.count{
  font-family: "Bebas Neue", sans-serif!important;
}

.subtitle{
  font-family: "EB Garamond", serif!important;
}

.cursive-el{
  font-family: "Mea Culpa", cursive!important;
}

/* Custom Highlight */
::selection {
  background-color: #444444;
  color: #f0eada;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #dcd5c5;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border: 2px solid #dcd5c5;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}
